<div class="card m-3">
  <h5 class="card-header">Your Meetings</h5>
  <div class="card-body">
    <p *ngIf="!meetinglist"><em>Loading...</em></p>
    <div class="divNewItem">
      <button type="button" [routerLink]="['/meeting-edit']" class="btn btn-success">Add Meeting</button>
    </div>
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="meetinglist">
      <thead>
        <tr>
          <th style="display:none;">Id</th>
          <th>Subject</th>
          <th>Agenda</th>
          <th>DOM</th>
          <th>Attendees</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let meeting of meetinglist">
          <td style="display:none;">{{ meeting.id }}</td>
          <td>{{ meeting.subject }}</td>
          <td>{{ meeting.agenda }}</td>
          <td style="width:15%;">{{ meeting.dateOfMeeting | date: "dd-MM-yyyy" }}</td>
          <td>{{ meeting.attendees }}</td>
          <td>
            <button class="btn btn-primary" (click)="editMeeting(meeting)"> <i class="fa fa-pencil"></i> Edit</button>
             
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
